{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat With AI</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'chat-support/css/bootstrap.min.css' %}">
    <link href="{% static 'chat-support/css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="main-section d-flex justify-content-center align-items-center" style="height: 45vh">
            <h1 style="font-size: 5em;color: #fff;">Coming Soon</h1>
        </div>
    </div>
    <script src="{% static 'chat-support/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>